<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Mi Mercado Libre</title>
</head>
<body>
    <header>
       <div class="header-place">

            <div class="logo1">
                    <a href="#">
                        <img src="/img/merc.png" alt="Mercadoliebre">
                    </a>
            </div>  

           <div class="buscador">
            <form action="GET">
                <input type="text" id="search" placeholder="Buscar productos, marcas y mas...">
           <div class="submit-clickable">
            <i class="fa-solid fa-search">
            </i>
            </div>
            </form>
          </div>
            <div class="buy-info">
                <p>
                    Comprá en cuotas y sin tarjeta de crédito
                    <i class="fa-solid fa-hand-holding-dollar">
                    </i>
                </p>
            </div>
     </div>
        <nav class="bar"> 
        <ul class="nav-links">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul> 
            <ul class="nav-links">
                <li><a href="/views/register.html">Creá tu cuenta<i class="fa-regular fa-id-card"></i></a></li>
               <li><a href="/views/login.html">Ingresá<i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
               <li><a href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>

        </nav>
        
    </header>
    <section class="add">
        <img src="/img/ad.PNG" alt="ad">
    </section>

    <section class="home">
        <h1>Bienvenido a Mi Mercado Libre</h1>
        <p>Encuentra los mejores productos al mejor precio.</p>
        <a href="#" class="btn">Ver productos</a>
    </section>
    <main>
        <h2>Basado en tu última compra</h2>
        <section class="sec-main">
            <article class="item">
                    <img src="/img/cafetera.jpg" alt="cafe">
                    <div class="descrip-ob">
                        <i class="fa-solid fa-truck"></i>
                        <div class="precio">
                          <p class="precioTotal">$230.000</p>
                          <p class="descuento">20% Off</p>
                        </div>
                        <div class="container-description">
                          <p class="description">Cafetera Moulinex</p>
                        </div>
                    </div>
            </article>

            <article class="item">
                <img src="/img/macpro.jpg" alt="cafe">
                <div class="descrip-ob">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precio">
                      <p class="precioTotal">$230.000</p>
                      <p class="descuento">20% Off</p>
                    </div>
                    <div class="container-description">
                      <p class="description">MacBook Pro 2019</p>
                    </div>
                </div>
            </article>

            <article class="item">
                <img src="/img/galaxys10.jpg" alt="cafe">
                <div class="descrip-ob">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precio">
                      <p class="precioTotal">$230.000</p>
                      <p class="descuento">20% Off</p>
                    </div>
                    <div class="container-description">
                      <p class="description">Samsung Galaxy S10</p>
                    </div>
                </div>
            </article>

            <article class="item">
                <img src="/img/smarttv.jpg" alt="cafe">
                <div class="descrip-ob">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precio">
                      <p class="precioTotal">$230.000</p>
                      <p class="descuento">20% Off</p>
                    </div>
                    <div class="container-description">
                      <p class="description">Samsung Galaxy S10</p>
                    </div>
                </div>
            </article>

        </section>

        <h2>Seccion de ofertas</h2>
        <section class="sec-main">
            <article class="item">
                    <img src="/img/cafetera.jpg" alt="cafe">
                    <div class="descrip-ob">
                        <i class="fa-solid fa-truck"></i>
                        <div class="precio">
                          <p class="precioTotal">$230.000</p>
                          <p class="descuento">20% Off</p>
                        </div>
                        <div class="container-description">
                          <p class="description">Cafetera Moulinex</p>
                        </div>
                    </div>
            </article>

            <article class="item">
                <img src="/img/macpro.jpg" alt="cafe">
                <div class="descrip-ob">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precio">
                      <p class="precioTotal">$230.000</p>
                      <p class="descuento">20% Off</p>
                    </div>
                    <div class="container-description">
                      <p class="description">MacBook Pro 2019</p>
                    </div>
                </div>
            </article>

            <article class="item">
                <img src="/img/galaxys10.jpg" alt="cafe">
                <div class="descrip-ob">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precio">
                      <p class="precioTotal">$230.000</p>
                      <p class="descuento">20% Off</p>
                    </div>
                    <div class="container-description">
                      <p class="description">Samsung Galaxy S10</p>
                    </div>
                </div>
            </article>

            <article class="item">
                <img src="/img/smarttv.jpg" alt="cafe">
                <div class="descrip-ob">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precio">
                      <p class="precioTotal">$230.000</p>
                      <p class="descuento">20% Off</p>
                    </div>
                    <div class="container-description">
                      <p class="description">Samsung Galaxy S10</p>
                    </div>
                </div>
            </article>

        </section>
    </main>

    <footer>
        <div class="place-foot">
            <section class="cont-foot">
                <i class="fa-solid fa-credit-card"></i>
                <h2 class="title-item-footer"> Pagá con tarjeta o en efectivo </h2>
                <p>
                  <span>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                  </span>
                </p>
            </section> 

            <section class="cont-foot">
                <i class="fa-solid fa-gift"></i>
                <h2 class="title-item-footer">Envío gratis desde $ 2.500</h2>
                <p>
                  <span>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                  </span>
                </p>
            </section>

            <section class="cont-foot">
                <i class="fa-solid fa-user-shield"></i>
                <h2 class="title-item-footer">Seguridad, de principio a fin</h2>
                <p>
                  <span>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                  </span>
                </p>
            </section>
        </div>
        <p class="details">&copy; 2023 Mi Mercado Libre. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
