/* Estilos generales */
body {
    background-color:gainsboro;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: rgb(255, 240, 72);
    color: #03264C;
    padding: 1rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo1 img {
    width: 400px;
    max-width: 30%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.buscador input {
    display: inline-block;
    width: 100%;
    padding: 0.8em 1.2em;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    border-style: solid;
    border-color: rgba(0,0,0,0);
    border-width: 1.5px;
}
.logo {
    font-size: 1.5rem;
    text-decoration: none;
    color:#03264C;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 1rem;
}

.nav-links a {
    text-decoration: none;
    color: #03264C;
    font-weight: bold;
}
.add {
    width: 100%;
}
.add img {
    width: 100%;
    height: auto;
}

/* Secciones */
.home {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 5rem 0;
}

.home h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.home p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

/* Productos */
main{
    margin: auto;
    width: 90vw;
    display: flex;
    flex-direction: column;
}

h1,h2,h3,h4,h5,h6{
    color:var(--negro);
    margin: 1em 0;
    font-weight: 800;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 24px;
}

main section{
    margin: 1rem 0 3rem;
}

main section article{
    background-color: white;
    margin-bottom: 10px;
}

main section article img{
    flex-grow: 1;
    display:block;
    max-width: 25%;
    padding: 5px;
    margin: auto;
}
.descrip-ob{
    justify-content: space-between;
    position: relative;
    border-top:solid 1px var;
    padding:15px;
    flex-grow: 1;
}


.product img {
    max-width: 100%;
}

.price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #3498db;
}

/* Pie de página */
footer {
    background-color: #fff;
    color: #03264C;
    text-align: center;
    padding: 1rem;
}
